* {
  margin: 0;
  padding: 0;

  font-family: futura, sans-serif;
  line-height: 160%;
}

body {
  background: #EDEAE7;
  color: #123d4d;
  margin-top: 1em;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #53a8c7;
}

a:hover {
  color: #448aa4;
}

h1 {
  display: none;
}
nav {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

nav ul li {
    display: inline;
    margin-right: 2em;
}

#contents {
  width: 80%;
}
#main {
  display: block;
}

p {
  margin-bottom: 1.5em;
}

#ben {
  display: block;
  float: left;
  width: 30%;
}

.ben_cutout {
  width: 80%;
  margin-left: 15%;
  z-index: 0;
}

.logo {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.social_icons img {
  width: 2.7em;
  margin-right: 1em;
}
